<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/user/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    
<style>
  .card-text {
    white-space: nowrap;      /* Prevent text from wrapping */
    overflow: hidden;         /* Hide content that overflows the container */
    text-overflow: ellipsis;  /* Display an ellipsis (...) for truncated text */
    max-width: 100%;          /* Optional: Set the maximum width of the container */
}

</style>

</head>
<body>

<nav class="navbar custom-navbar navbar-expand-lg shadow sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand logo h2 ms-2 fw-semibold" href="#">my blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#blogContent">Blog</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#newsletterSub">Services</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link " href="/createBlog">Create Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#contactus">Contact Us</a>
        </li>
      </ul>
      <div class="username d-flex align-items-center pe-lg-4 column-gap-1 my-3 my-lg-0 ">        
       <ion-icon name="person-circle-sharp"></ion-icon> 
      <span class="fs-6 user-select-none">{{userDetails.username}}</span>
      </div>

      <div class="logout d-flex align-items-center ">
        <a href="#" onclick="logout( )" class="text-decoration-none logout">
          <ion-icon name="log-out-outline"></ion-icon>
          <span class="d-none d-md-inline ">Logout</span>
          </a>
      </div>

    </div>
  </div>
</nav>


{{!-- Home --}}
    <section id="home" class="parallax">
      <div class="home">
        <h2 id="headingText">Welcome to my blog!</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi unde, quisquam facilis assumenda est reiciendis consectetur in. Error beatae ducimus itaque possimus reprehenderit, nulla odio eaque quis aspernatur atque at!</p>
        </div>
      
    </section>
{{!-- Home --}}

{{!-- ContentBlog --}}
<section id="blogContent">
<div class="container mx-auto d-flex gap-3 row-gap-3 row justify-content-center">
    {{#each data}}
  <div class="card col-lg-4 col-md-6 " style="width: 18rem; height: 23rem; ">
    <a style=" text-decoration : none; " href="/detailedView?id={{this._id}}">
    <img src="uploads/{{this.images.[0].filename }}" class="card-img-top  img-fluid"  alt="...">
    <div class="card-body">
      <h5 class="card-title fw-medium" style="color: #A4907C;">{{ this.heading}}</h5>
      <p class="card-text monospace " style="color: #C8B6A6;">{{this.content }}</p>
      <a  class="btn" href="/detailedView?id={{this._id}}">Read more...</a>
    </div>
    </a>
  </div>
     {{/each}}

</div>
</section>
{{!-- ContentBlog --}}

{{!-- Services --}}
<section id="newsletterSub" class="services">
<div class="container-fluid mx-auto row">
  <div class="newsimage col-12 col-lg-6 d-none d-lg-flex align-items-center justify-content-center">
    <img src="/images/user/homepage/Writing a letter-bro.png" alt="">
  </div> 
  <div class="newsletter col-lg-6 col-12">
    <form>
    <h2 class="fw-semibold">Subscribe to our Newsletter!</h2>
    <p class="monospace">Subscribe to our newsletter and stay updated.</p>
    <div class="input-container">
      {{!-- <ion-icon name="mail-outline"></ion-icon> --}}
      <input type="email" placeholder="Your Email Address"><br><br>
    </div>
    <button type="submit">Submit</button>
    </form>
  </div>
</div>
</section>
{{!-- Services --}}

{{!-- Quotesection --}}
<section class="quotesection">
  <h2> Quote for the Day</h2>
<div class="card container mx-auto ">
  <div class="card-header">
    For some daily inspiration, here's a Quote for the Day
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>The only true wisdom is in knowing you know nothing.</p>
      <footer class="blockquote-footer">Socrates</footer>
    </blockquote>
  </div>
</div>
</section>
{{!-- Quotesection --}}

{{!-- footer --}}
<section id="contactus">
<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="mt-5">
  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: #8D7B68"
          >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              myblog
            </h6>
            <p>
              Here you can use rows and columns to organize your footer
              content. Lorem ipsum dolor sit amet, consectetur adipisicing
              elit.
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              Useful links
            </h6>
            <p>
              <a class="text-white text-decoration-none">Your Account</a>
            </p>
            <p>
              <a class="text-white text-decoration-none">Become an Affiliate</a>
            </p>
            <p>
              <a class="text-white text-decoration-none">Help</a>
            </p>
          </div>

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
            <p><i class="fas fa-envelope mr-3"></i> myblog@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-3">

      <!-- Section: Copyright -->
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <!-- Copyright -->
            <div class="p-3">
              © 2020 Copyright:
              <a class="text-white text-decoration-none" href="https://mdbootstrap.com/">MDBootstrap.com</a>
            </div>
            <!-- Copyright -->
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
            <!-- Facebook -->
            <a
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button"
               ><i class="fab fa-facebook-f"></i
              ></a>

            <!-- Twitter -->
            <a
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button"
               ><i class="fab fa-twitter"></i
              ></a>

            <!-- Google -->
            <a
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button"
               ><i class="fab fa-google"></i
              ></a>

            <!-- Instagram -->
            <a
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button"
               ><i class="fab fa-instagram"></i
              ></a>
          </div>
          <!-- Grid column -->
        </div>
      </section>
      <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->
</section>
{{!-- footer --}}


<script src="/script.js"></script> 

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
</html>